*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: darkblue;
    height: 60px;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
.active{
    background-color: cadetblue;
    height: 20px;
}
h1{
    background-color: rgb(88, 79, 97);
    text-align: center;
    height: 35px;
    padding: 10px;
    color: white; 
}
main nav{
    background-color: #E67E22;
    height: 300px;
    width: 700px;
    border: solid;
    border-color: black;
    margin: 10px auto;
    padding: 5px;
}
main nav div{
    background-color: gainsboro;
    height: 285px;
    width: 335px;
    border: solid;
    border-color: grey;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}
h2{
    margin: 5px;
    font-size: 30px;
}
main div footer{
    background-color: blue;
    height: 240px;
    width: 335px;
}
main div footer ol{
    background-color: yellow;
    height: 90px;
    width: 60px;
    margin: 0px 0px 0px 87px;
}
main div footer ul{
    background-color: yellow;
    height: 60px;
    width: auto;
}
/*main div h3{
    background-color: red;
    height: 80px;
    width: 30px;
}*/
main div  ol{
    background-color: rgb(76, 156, 22);
    height: 120px;
    width: 270px;
}
main div ul{
    background-color: white;
    height: 60px;
    width: 270px;
}
main div h1{
    background-color: black;
    height: 40px;
    width: 250px;
}