*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: darkblue;
    height: 60px;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
.active{
    background-color: cadetblue;
    height: 20px;
}
h1{
    background-color: rgb(88, 79, 97);
    text-align: center;
    height: 35px;
    padding: 10px;
    color: white; 
}
main nav{
    background-color: transparent;
    height: 300px;
    width: 700px;
    border: solid;
    border-color: black;
    margin: 10px auto;
    padding: 5px;
}
main nav div{
    background-color: gainsboro;
    height: 285px;
    width: 335px;
    border: solid;
    border-color: grey;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}
main nav div aside{
    background-color: red;
    height: 240px;
    width: 91px;
    display: inline-block;
    margin: 0px;
}
main nav div article{
    background-color: white;
    height: 240px;
    width: 153px;
    display: inline-block;
}
main nav div article img{
    height: 155px;
    margin: 35px 0px 50px
}
h2{
    margin: 5px;
    font-size: 30px;
}
main div footer{
    background-color: white;
    height: 240px;
    width: 335px;
}
main div footer ol{
    background-color: blue;
    height: 90px;
    width: 30px;
    margin: 0px 0px 0px 87px;
}
main div footer ul{
    background-color: blue;
    height: 60px;
}
main div footer article{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 62px;
}
main div footer p{
    background-color: red;
    height: 120px;
    width: 167.5px;
    margin: -90px 0px 0px 168px;
}
main div footer section{
    background-color: blue;
    height: 120px;
    width: 167.5px;
    margin: 0px 0px 0px 0.5px;
}
main div footer img{
    height: 50px;
    margin: 36px 170px 0px 0px;
}
main div footer h3{
    background: white;
    height: 70px;
    width: 70px;
    vertical-align: top;
    margin: -97px 0px 0px 220px;
}
main div footer h3 img{
    margin: 5px;
}
main div h4{
    background-color: rgb(96, 192, 248);
    height: 80px;
}
main div  h5{
    background-color: white;
    height: 80px;
}
main div h5 img{
    height: 70px;
    margin: 3px;
}
main div footer h1{
    background: darkblue;
    height: 20px;
    margin: 0px 0px 40px;
}
main div footer h2{
    background: darkred;
    height: 80px;
    margin: 0px 0px 40px;
}
main div footer h2 aside{
    background: white;
    height: 75px;
    width: 60px;
    margin: 2px 171px 0px 4px;
    border-radius: 60%;
}
main div footer h2 aside img{
    margin: 3px 0px;
    height: 65px;
}

