*{
    margin: 0;
    padding: 0;
}
nav>ul{
    background-color: darkblue;
    height: 60px;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
.active{
    background-color: cadetblue;
    height: 20px;
}
h1{
    background-color: rgb(88, 79, 97);
    text-align: center;
    height: 35px;
    padding: 10px;
    color: white; 
}
main nav{
    background-color: #E67E22;
    height: 300px;
    width: 700px;
    border: solid;
    border-color: black;
    margin: 10px auto;
    padding: 5px;
}
main nav div{
    background-color: gainsboro;
    height: 285px;
    width: 335px;
    border: solid;
    border-color: grey;
    margin: 2px;
    display: inline-block;
    vertical-align: top;
}
h2{
    margin: 5px;
    font-size: 30px;
    text-align: center;
}
main div footer{
    background-color: blue;
    height: 240px;
    width: 335px;
}
main div footer ol{
    background-color: yellow;
    height: 90px;
    width: 60px;
    margin: 0px 0px 0px 87px;
}
main div footer ul{
    background-color: yellow;
    height: 60px;
    width: auto;
}
main div aside{
    background-color: black;
    height: 240px;
    width: 105px;
    display: inline-block;
}
main div article{
    background-color: red;
    height: 240px;
    width: 125px;
    display: inline-block;
    vertical-align: top;
}
main div article img{
    height: 70px;
    margin: 88px 28px;
}
main div h3{
    background-color: green;
    height: 240px;
    width: 105px;
    display: inline-block;
}
main div li{
    background-color: blue;
    height: 104px;
    width: 110px;
    display: inline-block;
    vertical-align: top;
}
main div li img{
    height: 70px;
    margin: 20px 20px;
}
main div var{
    background-color: white;
    height: 100px;
    width: 223px;
    display: inline-block;
}
main div dt{
    background-color: red;
    height: 140px;
    width: 335px;
}
main div strong{
    background-color: red;
    height: 245px;
    width: 90px;
    display: inline-block;
}
main div table{
    background-color: green;
    height: 75px;
    width: 230px;
    display: inline-block;

}
main div small{
    background-color: antiquewhite;
    height: 75px;
    width: 230;
    display: inline-block;
}